/target
**/*.rs.bk
Cargo.lock

# Keep the compiled production-ready binaries for the extension distribution
!/extension/bin/
!/extension/bin/*
/extension/bin/.DS_Store

# Binary files
*.so
*.a
*.o
*.out
*.exe
**/target/
tauwriter-lsp

# OS files
.DS_Store
Thumbs.db

# User-specific
.zed/
.vscode/
.idea/

extension/grammars/
